# Add your project dependencies here
hydra-core
numpy
pandas
scikit-learn
streamlit
streamlit-leaflet
plotly

# New requirement for testing
pytest

# Additional requirements from AirborneFieldGuide
dask

# Additional requirements from AirborneFieldGuide src files
# Note: These are placeholder requirements. You may need to adjust based on the actual content of the files
torch
torchvision
label-studio-sdk

# Add other dependencies here
omegaconf
matplotlib
