# Add your project dependencies here
hydra-core
numpy
pandas
scikit-learn
streamlit
streamlit-leaflet
plotly


# New requirement for testing
pytest
label-studio-converter
label-studio-sdk

# Additional requirements from AirborneFieldGuide
dask
dask_jobqueue
bokeh

# Additional requirements from AirborneFieldGuide src files
torch
torchvision
label-studio-sdk
paramiko    
deepforest

# Add other dependencies here
omegaconf
matplotlib
torchmetrics    